/**
 * ProjectName: web-basics-framework-template
 * ProjectDescription: Web Basics Framework Template
 * ProjectAuthor: lZiMUl
*/

* {
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(yellow, green)
}

header, footer {
	border: 3px solid grey;
	margin: 5px;
	margin-bottom: 15px;
	padding: 8px;
	color: white;
	background-color: #444;
	font-size: 10px;
	margin-bottom: 5px;
}

.app {
	border: 1px solid grey;
	margin: 5px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 40px;
	padding: 8px;
	background-color: white;
}

.email {
	margin-left: 20px;
}