<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
		/>
		<meta name="robots" content="noindex,nofollow"/>
		<title>
			Welcome to [Web-Basics-Framework-Template] page
		</title>
		<script src="/assets/js/alertFrame.js"></script>
	</head>
	<body>
			<span>
				<a href="#">I am a reconstructed Alert function, support HTML tags.</a>
			</span>
			<br/>
			<br/>
			<span>
				<a href="https://github.com/lzimul/">Developed by lZiMUl</a>
			</span>
			<br/>
			<p id="test">Support for dynamic loading of script tags. Give it a try</p>
	</body>
</html>